/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";



@font-face{
font-family:"Gotham";
  src:asset-url("GothamHTF-Medium.otf") format("opentype");
font-family:"Gotham_thin";
  src:asset-url("GothamHTF-Thin.otf") format("opentype");
font-family:"Gotham_bold";
  src:asset-url("GothamHTF-Bold.otf") format("opentype");
}

$light_grey: #F9F9FA;
$grey: #F6F8FA;
$dark_grey: #3c3c3c;
$red: #FD6C6A;
$blue: #5B69E5;

/* -------------------------------- 

Primary style

-------------------------------- */
*, *::after, *::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
/* -------------------------------- 

1. Auto-Hiding Navigation - Simple

-------------------------------- */
.cd-auto-hide-header {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: $grey;
  /* Force Hardware Acceleration */
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}
.cd-auto-hide-header::after {
  clear: both;
  content: "";
  display: block;
}
.cd-auto-hide-header.is-hidden {
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
}
@media only screen and (min-width: 1024px) {
  .cd-auto-hide-header {
    height: 80px;
  }
}

.cd-auto-hide-header .logo,
.cd-auto-hide-header .nav-trigger {
  position: absolute;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.cd-auto-hide-header .logo {
  left: 5%;
}
.cd-auto-hide-header .logo a, .cd-auto-hide-header .logo img {
  display: block;
}

.cd-auto-hide-header .nav-trigger {
  /* vertically align its content */
  display: table;
  height: 100%;
  padding: 0 1em;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #25283D;
  font-weight: bold;
  right: 0;
  border-left: 1px solid #f2f2f2;
}
.cd-auto-hide-header .nav-trigger span {
  /* vertically align inside parent element */
  display: table-cell;
  vertical-align: middle;
}
.cd-auto-hide-header .nav-trigger em, .cd-auto-hide-header .nav-trigger em::after, .cd-auto-hide-header .nav-trigger em::before {
  /* this is the menu icon */
  display: block;
  position: relative;
  height: 2px;
  width: 22px;
  background-color: #25283D;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.cd-auto-hide-header .nav-trigger em {
  /* this is the menu central line */
  margin: 6px auto 14px;
  -webkit-transition: background-color .2s;
  transition: background-color .2s;
}
.cd-auto-hide-header .nav-trigger em::before, .cd-auto-hide-header .nav-trigger em::after {
  position: absolute;
  content: '';
  left: 0;
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
}
.cd-auto-hide-header .nav-trigger em::before {
  /* this is the menu icon top line */
  -webkit-transform: translateY(-6px);
      -ms-transform: translateY(-6px);
          transform: translateY(-6px);
}
.cd-auto-hide-header .nav-trigger em::after {
  /* this is the menu icon bottom line */
  -webkit-transform: translateY(6px);
      -ms-transform: translateY(6px);
          transform: translateY(6px);
}
@media only screen and (min-width: 1024px) {
  .cd-auto-hide-header .nav-trigger {
    display: none;
  }
}

.cd-auto-hide-header.nav-open .nav-trigger em {
  /* transform menu icon into a 'X' icon */
  background-color: rgba(255, 255, 255, 0);
}
.cd-auto-hide-header.nav-open .nav-trigger em::before {
  /* rotate top line */
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.cd-auto-hide-header.nav-open .nav-trigger em::after {
  /* rotate bottom line */
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.cd-primary-nav {
  display: inline-block;
  float: right;
  height: 100%;
  padding-right: 5%;
}
.cd-primary-nav > ul {
  position: absolute;
  z-index: 2;
  top: 60px;
  left: 0;
  width: 100%;
  background-color: $grey;
  display: none;
  box-shadow: 0 14px 20px rgba(0, 0, 0, 0.2);
  list-style: none;
}
.cd-primary-nav > ul a {
  /* target primary-nav links */
  display: block;
  height: 50px;
  line-height: 50px;
  padding-left: 5%;
  color: #25283D;
  font-size: 1.5rem;
  border-top: 1px solid #f2f2f2;
  border-bottom: solid 2px transparent; 
}
.cd-primary-nav > ul a:hover, .cd-primary-nav > ul a.active {
  color: $red;
  border-bottom: solid 2px $red; 
}
@media only screen and (min-width: 1024px) {
  .cd-primary-nav {
    /* vertically align its content */
    display: table;
  }
  .cd-primary-nav > ul {
    /* vertically align inside parent element */
    display: table-cell;
    vertical-align: middle;
    /* reset mobile style */
    position: relative;
    width: auto;
    top: 0;
    padding: 0;
    background-color: transparent;
    box-shadow: none;
    list-style: none;
  }
  .cd-primary-nav > ul::after {
    clear: both;
    content: "";
    display: block;
  }
  .cd-primary-nav > ul li {
    display: inline-block;
    float: left;
    margin-right: 1.5em;
  }
  .cd-primary-nav > ul li:last-of-type {
    margin-right: 0;
  }
  .cd-primary-nav > ul a {
    /* reset mobile style */
    height: auto;
    line-height: normal;
    padding: 0;
    border: none;
  }
}

.nav-open .cd-primary-nav ul,
.cd-primary-nav ul:target {
  /* 
    show primary nav - mobile only 
    :target is used to show navigation on no-js devices
  */
  display: block;
  list-style: none;
}
@media only screen and (min-width: 1024px) {
  .nav-open .cd-primary-nav ul,
  .cd-primary-nav ul:target {
    display: table-cell;
  }
}


/* -------------------------------- 

3. Auto-Hiding Navigation - with Sub Nav + Hero Image

-------------------------------- */
.cd-secondary-nav.fixed {
  position: fixed;
  top: 60px;
}
.cd-secondary-nav.slide-up {
  -webkit-transform: translateY(-60px);
      -ms-transform: translateY(-60px);
          transform: translateY(-60px);
}
@media only screen and (min-width: 1024px) {
  .cd-secondary-nav.fixed {
    top: 80px;
    /* fixes a bug where nav and subnab move with a slight delay */
    box-shadow: 0 -6px 0 #25283D;
  }
  .cd-secondary-nav.slide-up {
    -webkit-transform: translateY(-80px);
        -ms-transform: translateY(-80px);
            transform: translateY(-80px);
  }
}

/* -------------------------------- 

Main content

-------------------------------- */
.cd-main-content {
  padding: 60px 5% 2em;
  overflow: hidden;
}
.cd-main-content.sub-nav {
  /* to be used if there is sub nav */
  padding-top: 110px;
}
.cd-main-content.sub-nav-hero {
  /* to be used if there is hero image + subnav */
  padding-top: 0;
}
.cd-main-content.sub-nav-hero.secondary-nav-fixed {
  margin-top: 50px;
}
@media only screen and (min-width: 1024px) {
  .cd-main-content {
    padding-top: 80px;
  }
  .cd-main-content.sub-nav {
    padding-top: 150px;
  }
  .cd-main-content.sub-nav-hero.secondary-nav-fixed {
    margin-top: 70px;
  }
}


body {
-webkit-font-smoothing: antialiased;
background-color: #F6F8FA;
color: #052D49;
text-rendering: optimizeLegibility;
}     

h1, h2, h3, h4, h5, h6 {    
  color: #4d545d;
  font-family: 'Gotham', sans-serif !important;
}

p, a {
  font-family: 'Gotham_thin', sans-serif !important;
  color: #919499;
}

  a {
    &:hover {
      text-decoration: none;
      background-color: transparent;
      color: $red;
    }
  }

  .button {
  transition: background-color .15s linear;
  font-size: 15px;
  min-width: 120px;
  font-family: 'Gotham_bold', sans-serif !important;
  border-radius: 2px;
  padding: 5px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  margin-top: .2rem;
  background-color: transparent;
  color: grey !important;
}

.botones {
  transition: background-color .15s linear;
  font-size: 12px;
  font-family: 'Gotham_bold', sans-serif !important;
  border-radius: 2px;
  padding: 5px;
  width: 100%;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  margin-top: 1rem;
  background-color: transparent;
  margin-bottom: 5px;
}

.button_red {
  color: white !important;
  background-color: $red;
  border: solid 1.2px $red;
  &:hover {
    color: $red !important;
    background-color: white;
  }

  &:hover > a {
  color: white;
  background-color: $red;
  }

}

.button_red2 {
  margin-top: -2px;
  color: white !important;
  background-color: $red;
  border: solid 1.8px white;
  &:hover {
    color: $red !important;
    background-color: white;
  }

  &:hover > a {
  color: white;
  background-color: $red;
  }

}


.button_blue {
  color: white;
  background-color: $blue;
  height: 40px;
  border: solid 1.2px white;
  font-size: 18px;
  &:hover {
    color: $blue;
    background-color: white;
    border: solid 1.2px $blue;
  }

  &:hover > a {
  color: white;
  background-color: $blue;
  }

}

.button_block {
  display: block;
  margin: 0 auto;
  width: 100%;
  margin-top: 2rem;
  font-weight: 700;
}
.center {
  text-align: center;
}


#formario {
  margin: 2rem 0;
  background-color: white;
  box-shadow: 0 2px 2px 0 $red, 0 3px 1px -2px$red, 0 1px 5px 0 $red;
  padding: 3rem 3rem 0;
      border-radius: 11px;
      border: solid 1px #e2e8ea;
      -webkit-box-shadow: 6px 6px 2px rgba(46,133,155,0.04);
      box-shadow: 6px 6px 2px rgba(46,133,155,0.04);

h2, h1 {
  text-align: center;
  color: white;
  width: 100%;
  font-size: 100%;
  font-weight: 900;
  text-transform: uppercase;
  background-color: $red;
  padding: 20px 0;
  a {
    color: white;
  }
}

input[type="url"],input[type="date"],input[type="name"], input[type="email"], input[type="textbox"], input[type="number"], input[type="tel"], input[type="text"], input[type="password"], textarea, select {
  width: 100%;
  height: 3.5rem;
  border:none;
  border-bottom:1.3px solid #dadada;
  margin-bottom: 1.5rem;
  background-color: white !important;
  }
  textarea {
    height: 20rem !important;
  }
  label {
  margin-top: 1rem;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  color: #dadada;
  font-family: 'Gotham_bold', sans-serif !important;
}
}

#map {
width: 100%;
height: 200px;
margin-bottom: 20px;
}

#map2 {
width: 100%;
height: 200px;
margin-bottom: 20px;
}

.sim {
  color: $red !important;
}

 #banner {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  margin-bottom: 1rem;
  background-attachment: fixed;
  background-blend-mode: multiply;
  background-color: #989898;
  margin-top: 60px;
}

.cover_home {
  background-image: image-url("innova_cover.jpg");
  height: 75vh;
}

#hero-text {
  text-align: left;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  h1 {
    color: white;
    font-size: 35px !important;
  }
  h4 {
    color: white;
  }
  input[type="search"] {
  min-width: 300px;
  height: 5rem;
  border:none;
  border-bottom:1.3px solid #dadada;
  margin-bottom: 1.5rem;
  background-color: white !important;
  padding-left: 10px;
  border-radius: 6px;
  }
}

@media (max-width: 800px)
{

#banner {
background-attachment: unset;
}
}

#back_in_june {
  text-align: center;
  background-color: white !important;
  img {
    width: 100px;
  }
}

#magic_card {
  background-color: white;
  padding: 20px;
  border: solid 1px #e2e8ea;
  -webkit-box-shadow: 6px 6px 2px rgba(46,133,155,0.04);
  box-shadow: 6px 6px 2px rgba(46,133,155,0.04);
  margin-bottom: 20px;
  height: 370px;
  .imagen {
  height:100px;
  line-height:100px;
  overflow:hidden;
  text-align:center;
  width:100%;
  img {
    margin:-100%
  }
  }
  h3 {
    text-align: center;
    font-weight: 900;
  }
  h2 {
    position: absolute;
    top: 0px;
    font-size: 20px;
  }
  .izq {
    position: absolute;
  }
  .der {
    display: inline;
    float: right;
    i {
      size: 5px;
    }
  }
}

#back {
  text-align: center;
  h1 {
    background-color: $red;
    -webkit-box-shadow: 6px 6px 2px rgba(46,133,155,0.04);
    box-shadow: 6px 6px 2px rgba(46,133,155,0.04);
    padding: 30px 0;
    margin: -60px 0 30px 0;
    color: white;
  }
}

#footer {
  background-color: #eeeeee;
  height: 100px;
}

#imback {
  text-align: center;
  margin-top: 90px;
.img {
  height:150px;
  line-height:150px;
  overflow:hidden;
  text-align:center;
  width:150px;
  margin: 0 auto;
  border-radius: 50%;
  img {
    margin:-100%;
    width: 100%;
  }
  }
}

#magic {
  background-color: white;
  padding: 20px;
  border: solid 1px #e2e8ea;
  -webkit-box-shadow: 6px 6px 2px rgba(46,133,155,0.04);
  box-shadow: 6px 6px 2px rgba(46,133,155,0.04);
  margin-bottom: 20px;
  p {
    margin-bottom: 40px;
  }
  h5 {
    color: #919499;
    span {
      margin-right: 5px;
    }
  }
}

.titulo {
    margin-top: 0px;
    border-bottom: 1px solid #E8E8E8;
    border-top: 1px solid #E8E8E8;
    font-weight: 700;
    font-size: 15px;
    text-transform: uppercase;
    padding-left: 8px;
    line-height: 19px;
    height: 41px;
    padding-top: 10px;
    color: #4f4f4f;
    a {
      color: $blue;
      span {
        font-size: 21px;
      }
    }
  }

  #kingdom {
    text-align: center;
    padding: 30px 0;
    background-color: $red;
    ul {
      list-style: none;
      li {
        display: inline;
      }
    }
  input[type="text"] {
  height: 3.2rem;
  border:none;
  border-bottom:1.3px solid #dadada;
  margin-bottom: 1.5rem;
  background-color: white !important;
  }
  }

  .pencil {
  margin: 5px;
  background-color: white;
  border: solid 2px $red;
  border-radius: 50%;
  &:hover  {
    color:white;
    background-color: $red;
  }
  span {
    color: $red;
  }
}

#curso {
  ul {
    list-style: none;
    li {
      display: inline;
      span {
        color: $red;
        font-size: 20px;
      }
    }
  }
}

.pagination {
    font-size: 12px;
}

.pagination > * {
    margin-right: 0.1em;
    padding: 0.3em 0.4em;
}

.pagination a:hover {
    background: $red none repeat scroll 0 0;
    color: white;
}

.pagination a:active {
    text-shadow: none;
}

.pagination .current {
    background: $red none repeat scroll 0 0;
    color: white;
}

.pagination .disabled {
    color: #C0C0C0;
}

ul.ui-autocomplete {
  position: absolute;
  list-style: none;
  margin: 0;
  padding: 0;
  border: solid 1px #999;
  cursor: default;
  li {
    background-color: #FFF;
    border-top: solid 1px #DDD;
    margin: 0;
    padding: 0;
    a {
      color: #000;
      display: block;
      padding: 3px;
    }
    a.ui-state-hover, a.ui-state-active {
      background-color: #FFFCB2;
    }
  }
}